<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	
	<key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>

	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ClingfyProjectIcon</string>
			<key>CFBundleTypeName</key>
			<string>Clingfy Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.clingfy.project</string>
			</array>
		</dict>
	</array>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app captures microphone audio while recording the screen.</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	
	<key>NSCameraUsageDescription</key>
	<string>We use the camera for picture-in-picture while recording the screen.</string>

	<key>NSAccessibilityUsageDescription</key>
	<string>This app needs accessibility to highlight the cursor during recording.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Clingfy Project</string>
			<key>UTTypeIconFile</key>
			<string>ClingfyProjectIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.clingfy.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>clingfyproj</string>
				</array>
			</dict>
		</dict>
	</array>
	
	<!-- Where Sparkle finds RSS/appcast -->
    <key>SUFeedURL</key>
    <string>$(SPARKLE_FEED_URL)</string>

	<!-- Sparkle public key -->
	<key>SUPublicEDKey</key>
    <string>RzbwK2ZiMVzx4BsdCosdM388kSQjAreTgQ0TOPjvaN4=</string>

	<!-- Optional but recommended defaults -->
	<key>SUEnableAutomaticChecks</key>
	<true/>

	<!-- default is 86400 = 1 day -->
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>

	<!-- Optional: automatic download+install in background -->
	<key>SUAutomaticallyUpdate</key>
	<false/>

</dict>
</plist>
